@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}

/*.post>p:only-child{background-color: red;};*/

.imgss{
	overflow: hidden;
}

.imgss img{
	float: left;
}


.imgss img:not(:hover){
	/*border: 3px solid red;*/
	-webkit-filter:blur(2px) grayscale(1);

	opacity: .7;
}



/*首字大写
#pps:first-child::first-letter{
	float: left;
	color: #903;
	padding: 0px 10px 10px 0px;
	font-size: 60px;
}
*/

#pps p:last-child::first-line{
	color: red;
	font: 20px;
}

::selection{
	background: red;
	color: #000987;
	}
